.section8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: rgb(242, 242, 242);
}

.section8-box {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.section8-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}

.section8-left-photo {
  width: 200px;
  height: 200px;
  animation-name: section8-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes section8-animation {
  100% {
    rotate: y 1turn;
  }
}
.section8-right {
  display: flex;
  flex-direction: column;
}

.section8-content {
  line-height: 25px;
  font-family: system-ui;
}
.section8-button {
  margin-top: 50px;
  text-decoration: none;
  color: black;
  padding: 9px 10px;
  background-color: rgb(248, 184, 100);
}

.section8-button:hover {
  color: rgb(248, 184, 100);
  transition: 0.3s;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(248, 184, 100);
}
