.section2 {
  background-color: rgb(242, 242, 242);
}
.section2-box {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.sec2-box1 {
  display: flex;
  flex: 1;
}
.about-1 {
  width: 483px;
  height: 400px;
}
.sec2-box2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sec2-box2-upper {
  margin-bottom: 47px;
}

.aboutus {
  font-size: 22px;
  color: rgb(248, 184, 100);
}
.goal {
  font-size: 31px;
  line-height: 45px;
}
.content {
  font-size: 20px;
  line-height: 25px;
}
.sec2-box2-lower {
  display: flex;

  flex-wrap: wrap;

  background-color: #f3e0c6;
}
.sec2-box2-lower1 {
  display: flex;
  flex: 1;
  margin-top: 10px;
}
.common-button,
.button1 {
  padding: 5px;
  width: 70px;
  background-color: rgb(248, 184, 100);
  border: none;
}
.button1 {
  margin-left: 25px;
  font-size: 16px;
}
.button1:hover {
  background-color: #f3e0c6;
  color: rgb(248, 184, 100);
  border: 1px solid rgb(248, 184, 100);
}
.sec2-box2-lower2 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.button-readmore {
  padding: 5px;
  width: 70px;
  background-color: rgb(248, 184, 100);
  border: none;
  margin-left: 25px;
  margin-top: 40px;
}
.button-readmore:hover {
  background-color: #f3e0c6;
  color: rgb(248, 184, 100);
  border: 1px solid rgb(248, 184, 100);
}
