.section5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/volunteers-bg.jpg) center center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section5-content {
  color: aliceblue;
  margin-top: 20px;
  max-width: 800px;
  margin-bottom: 35px;
  font-family: system-ui;
}
.section5-lower {
  display: flex;
  width: 80%;
}
.section5-lower1 {
  display: flex;
  justify-content: center;
  column-gap: 23px;
}
.section5-lower-box1 {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 236px;
  border: 2px solid white;
  background-color: transparent;
  backdrop-filter: blur(20px);
  align-items: center;
  z-index: 100;
}
.section5-icon {
  height: 50px;
  width: 50px;
}
.section5-icon {
  margin-top: 100px;
  margin-bottom: 10px;
}

.section5-heading {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  font-family: system-ui;
  color: white;
}
.section5-num {
  border: 3px dashed white;
  padding: 10px;
  font-family: system-ui;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.button-section5 {
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(248, 184, 100);
}
.button-section5:hover {
  background-color: #f3e0c6;
  color: rgb(248, 184, 100);
  border: 1px solid rgb(248, 184, 100);
}
